.orderbook {
    .header,
    .status {
        height: 40px;
        line-height: 40px;
    }
    .asks,
    .bids {
        min-height: 120px;
    }
    .ask,
    .bid {
        min-height: 24px;
    }
}

.btn{
    display: flex;
    flex-direction: row;
}

#all{
    width: 70px;
    height:30px;
    background-color: white;
    text-decoration: none;
    border-width:0px;
    border-bottom-style:solid;
    border-bottom-color:rgb(82,90,238);
    color:rgb(82,90,238);
    cursor: pointer;
}

#all:active{
    border-bottom-width: 2px;
}

#buy{
    width: 70px;
    height:30px;
    background-color: white;
    text-decoration: none;
    border-width:0px;
    border-bottom-style:solid;
    border-bottom-color:rgb(82,90,238);
    color:rgb(82,90,238);
    cursor: pointer;
}

#buy:active{
    border-bottom-width: 2px;
}

#amount{
    margin-left: 40px;
}

#price{
    margin-left: 20px;
}

#sell{
    width: 70px;
    height:30px;
    background-color: white;
    text-decoration: none;
    border-width:0px;
    border-bottom-style:solid;
    border-bottom-color:rgb(82,90,238);
    color:rgb(82,90,238);
    cursor: pointer;

}
#sell:active{
    border-bottom-width: 2px;
}


#some{
    display: flex;
    flex-direction: row;
}

#amount{
    margin-right: 50px;
}

#nums{
    display: flex;
    flex-direction: row;
}

#total{
    margin-left: -40px;
}