.orderbook {
    .header,
    .status {
        height: 40px;
        line-height: 40px;
    }
    .asks,
    .bids {
        min-height: 120px;
    }
    .ask,
    .bid {
        min-height: 24px;
    }
}

#all{
    margin-right: 30px;
    border:0px;
    width:100px;

}
#sell{
    margin-right: 30px;
    border:0px;
    width:100px;
}

#buy{
    margin-right: 30px;
    border:0px;
    width:100px;
}

